* {
    box-sizing: border-box;
    margin: 0 auto;
}

html {
    /*    Nulstiller fontsize, så den er 10px. Dermed kan vi bruge rem til lettere at definere fontstørrelse */
    font-size: 62.5%;
}

img {
    width: 100%
}

.css_maxwidth {
    max-width: 1100px;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
}
/* Header */
header {
    background-color: #E0E0E0;
    position: sticky;
    top: 0;
}

.css_header_width {
    max-width: 1100px;
    margin: 0 auto;
    padding: 5vw 0;
    height: 100%;

}

.css_header_logo {
    /*    padding: 20px 0 50px 0;*/
    display: flex;
    justify-content: center;
}

.css_header_logo_image {
    width: 100px;
    display: inline-block
}

.css_header_burger_icon {
    display: inline-block;
    font-size: 3.5rem;
}

.css_globalmenu {}

.css_globalmenu_menupunkt {
    display: block;
    margin: 3vw 0 3vw 8vw;
    font-size: 1.5rem;

    /*    Hvis vi skal have tab menu */
    /*    display: inline-block;*/
}



/* Class til at skjule menuen */
.css_globalmenu_hidden {
    display: none;
}


@media only screen and (min-width: 730px) {
    .css_header_width {
        padding: 2vw 0 0 0;
    }

    .css_header_burger_icon {
        display: none;
    }

    .css_globalmenu {
        display: block;
    }

    .css_header_logo {
        padding: 20px 0 50px 0;
    }

    .css_header_logo_image {
        width: 8vw;
    }


    .css_globalmenu_menupunkt {
        padding: 15px 15px 0 15px;
        margin: 0 2px;
        border: 0px solid black;
        border-radius: 10px 10px 0px 0px;
        background-color: white;
        display: inline-block;
    }

}


/*****

Vertikal menu

*****/

.css_side_navigation {
    display: flex;
    flex-direction: column;
}

.css_side_navigation_link,
.css_side_navigation_liste {
    margin: 0;
}

.list__link {
    text-decoration: none;
    color: green;
    display: block;
    padding: 5px;
}

.list__link.has-submenu {
    color: red;
}

.list,
.list__submenu {
    list-style: none;
    padding: 0;
}

.list__submenu {
    height: 0;
    padding-left: 15px;
    overflow: hidden;
    transition: height .2s ease-in-out;
}

.list__submenu.is-open {
    height: auto;
}

/********************FOOTER********************/

/*FOOTER*/

footer {
    margin-top: 100px;
    border-top: 50px solid #eaeaea;
    display: flex;
    flex-wrap: wrap;
    background-color: #3A4A6D;
}


/*FOOTER COLUMN WRAPPER*/

.footerinfo {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 50px 40px;
    justify-content: space-between;
    place-content: center;
    color: var(--white);
}

/*FOOTER COLUMN*/

.footercolumn {
    flex-basis: 350px;
    padding: 10px;
    width: inherit;
}

.footercolumn ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

}

.footercolumn li {
    padding: 5px;
}

.footer_link {
    text-decoration: none;
}

/*SOCIAL MEDIA BOX*/

.socialmediabox {
    display: flex;
    justify-content: center;
}


/*FOOTER SOCIALMEDIA LINK*/

.socials_icon a {
    align-content: center;
    align-items: center;
}

.footersocialicon {
    display: flex;
    align-items: center;
}

/*
.footersocialicon:hover {
    border-radius: 50%;
    background-color: #3ea01a;
}*/

.socials_icon {
    height: 30px;
    width: auto;
    margin-bottom: 20px;
    margin-left: 5px;
}


/*FIND SMILEY WRAPPER*/

.footer_delafhojskolerne {
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}
/**********************************************/
