/*          Generelt for alt */
* {
    box-sizing: border-box;
    margin: 0 auto;
}

html {
    /*    Nulstiller fontsize, så den er 10px. Dermed kan vi bruge rem til lettere at definere fontstørrelse */
    font-size: 62.5%;
}

:root {
    /*    Font skrifttyper */
    --h1-forside-velkommen-font-family: 'Cookie', cursive;
    --h1-forside-ihs-font-family: 'Anton', sans-serif;
    --font-family: proxima-nova, sans-serif;

    /*    Font weights */
    --font-weight-black: 900;
    --font-weight-extrabold: 800;
    --font-weight-bold: 700;
    --font-weight-semi-bold: 600;
    --font-weight-medium: 500;
    --font-weight-regular: 400;
    --font-weight-light: 300;
    --font-weight-thin: 100;


    --cta-font-weight: 700;
    --h1-font-weight: 900;
    --h1-forside-velkommen-font-weight: 900;
    --h1-forside-ihs-font-weight: 900;
    --h2-font-weight: 900;
    --h3-font-weight: 700;
    --p-font-weight: 400;

    /*    Font størrelser*/
    --h1-font-size: 3.7rem;
    --h1-forside-velkommen-font-size: 3.7rem;
    --h1-forside-ihs-font-size: 3.7rem;
    --h2-font-size: 2.7rem;
    --h3-font-size: 2.2rem;
    --p-font-size: 1.7rem;
    /*             Denne  størrese skal jo nok overskrives nogle steder med noget mindre */
    --cta-text-font-size: 1.7rem;

    /*    Font farver*/
    --h1-font-color: #0c1f4b;
    --h1-forside-velkommen-font-color: #0c1f4b;
    --h1-forside-ihs-font-color: #0c1f4b;
    --h2-font-color: #0c1f4b;
    --h3-font-color: #0c1f4b;
    --p-font-color: #0c1f4b;
    --a-font-color: #607bb7;
    --a-font-color-hover: #1742a7;
    --cta-primary-text-font-color: #ffffff;
    --cta-secondary-text-font-color: #0c1f4b;

    /*    Font linjehøjde */
    --h1-font-line-height: 1.6;
    --h1-forside-velkommen-font-line-height: 1.6;
    --h1-forside-ihs-font-line-height: 1.6;
    --h2-font-line-height: 1.6;
    --h3-font-line-height: 1.6;
    --p-font-line-height: 1.6;

    /*    Text transform */
    --text-transform-uppercase: uppercase;
    --text-transform-capitalize: capitalize;

    /*    Farver */
    --primary-color: #0c1f4b;
    --secondary-color: #3a4a6d;
    --tertiary-color: #607bb7;
    --white: #ffffff;
    --body-color: #F7F7F7;
    --main-color: #ffffff;

    /*    CTA knapper*/
    /*        Primære knapper*/
    --cta-primary-background-color: #0c1f4b;
    --cta-primary-border-radius: 3px;
    --cta-primary-box-shadow: 1.5px 1.5px 3px rgba(16, 31, 72, 0.22);
    /*             Denne padding skal jo nok overskrives nogle steder med noget mindre */
    --cta-primary-padding: 10px;


    /*        Sekundære knapper*/
    --cta-secondary-background-color: #ffffff;
    --cta-secondary-border: 1px solid #0c1f4b;
    --cta-secondary-border-radius: 3px;
    --cta-secondary-box-shadow: 1.5px 1.5px 3px rgba(16, 31, 72, 0.22);
    /*             Denne padding skal jo nok overskrives nogle steder med noget mindre */
    --cta-secondary-padding: 10px;

    /*    Menu styling */
    /*            Globalmenu */
    --global-menu-font-color: #0c1f4b;
    --global-menu-font-color-hover: #607bb7;
    --global-menu-font-size: 1.7rem;
    --global-menu-font-line-height: 1.6;
    --global-menu-background-color: #ffffff;


    /*            Burgermenu */
    --vertical-menu-font-color-main: #0c1f4b;
    --vertical-menu-font-color-sub: #3a4a6d;
    --vertical-menu-font-color-hover: #607bb7;
    --vertical-menu-font-size: 1.5rem;
    --vertical-menu-font-line-height: 1.3;
    --vertical-menu-background-color: #ffffff;


}

img {
    width: 100%
}

.css_maxwidth {
    max-width: 1100px;
}

body {
    background-color: var(--body-color);
}

main {
    background-color: var(--main-color);
}

/*         Style tile til tekst og knapper */

h1 {
    font-family: var(--font-family);
    font-weight: var(--h1-font-weight);
    font-size: var(--h1-font-size);
    line-height: var(--h1-font-line-height);
    color: var(--h1-font-color);
    text-transform: var(--text-transform-uppercase);
}

.forside-h1-velkommen {
    font-family: var(--h1-forside-velkommen-font-family);
    font-weight: var(--h1-forside-velkommen-font-weight);
    font-size: var(--h1-forside-velkommen-font-size);
    line-height: var(--h1-forside-velkommen-font-line-height);
    color: var(--h1-forside-velkommen-font-color);
    text-transform: none;
}

.forside-h1-ihs {
    font-family: var(--h1-forside-ihs-font-family);
    font-weight: var(--h1-forside-ihs-font-weight);
    font-size: var(--h1-forside-ihs-font-size);
    line-height: var(--h1-forside-ihs-font-line-height);
    color: var(--h1-forside-ihs-font-color);
}

h2 {
    font-family: var(--font-family);
    font-weight: var(--h2-font-weight);
    font-size: var(--h2-font-size);
    line-height: var(--h1-font-line-height);
    color: var(--h2-font-color);
    text-transform: var(--text-transform-capitalize);
}

h3 {
    font-family: var(--font-family);
    font-weight: var(--h3-font-weight);
    font-size: var(--h3-font-size);
    line-height: var(--h3-font-line-height);
    color: var(--h3-font-color);
    text-transform: var(--text-transform-uppercase);
}

p {
    font-family: var(--font-family);
    font-weight: var(--p-font-weight);
    font-size: var(--p-font-size);
    line-height: var(--p-font-line-height);
    color: var(--p-font-color);
}

a {
    color: var(--a-font-color);
    text-decoration: none;
}

a:hover {
    color: var(--a-font-color-hover);
}

.cta-primary {
    background-color: var(--cta-primary-background-color);
    border-radius: var(--cta-primary-border-radius);
    box-shadow: var(--cta-primary-box-shadow);
    padding: var(--cta-primary-padding);

    /*    Tekst */
    font-family: var(--font-family);
    font-size: var(--cta-text-font-size);
    font-weight: var(--cta-font-weight);
    color: var(--cta-primary-text-font-color);
    text-decoration: none;
}

.cta-secondary {
    background-color: var(--cta-secondary-background-color);
    border: var(--cta-secondary-border);
    border-radius: var(--cta-secondary-border-radius);
    box-shadow: var(--cta-secondary-box-shadow);
    padding: var(--cta-secondary-padding);

    /*    Tekst */
    font-family: var(--font-family);
    font-size: var(--cta-text-font-size);
    font-weight: var(--cta-font-weight);
    color: var(--cta-secondary-text-font-color);
    text-decoration: none;
}

/*         Header */
header {
    background-color: var(--global-menu-background-color);
    position: sticky;
    top: 0;
    margin-bottom: 20px;
}

.css_header_width {
    max-width: 1120px;
    margin: 0 auto;
    padding: 5vw 0;
    height: 100%;

}

.css_header_logo {
    /*    padding: 20px 0 50px 0;*/
    display: flex;
    justify-content: center;
}

.css_header_logo_image {
    width: 100px;
    display: inline-block
}

.css_header_burger_icon {
    display: inline-block;
    font-size: 3.5rem;
    color: var(--primary-color);
}

.css_globalmenu_menupunkt {
    display: block;
    margin: 3vw 0 3vw 8vw;

    font-family: var(--font-family);
    font-size: var(--global-menu-font-size);
    color: var(--global-menu-font-color);
    text-transform: var(--text-transform-uppercase);
    font-weight: var(--font-weight-bold);
    text-decoration: none;
}

.css_globalmenu_menupunkt:hover,
.list__link.has-submenu:hover,
.list__link:hover {
    color: var(--global-menu-font-color-hover);
}


/* Class til at skjule menuen */
.css_globalmenu_hidden {
    display: none;
}

/* Media query til menuen */
@media only screen and (min-width: 1000px) {
    header {
        margin-bottom: 40px;
        padding-bottom: 15px;
    }

    .css_header_width {
        padding: 2vw 0 0 0;
    }

    .css_header_burger_icon {
        display: none;
    }

    .css_globalmenu {
        display: block;
    }

    .css_header_logo {
        padding: 20px 0 50px 0;

        display: block;
    }

    .css_header_logo_image {
        width: 8vw;
    }


    .css_globalmenu_menupunkt {
        padding: 15px 20px 0 0px;
        margin: 0 2px;
        border: 0px solid black;
        border-radius: 10px 10px 0px 0px;
        background-color: white;
        display: inline-block;
    }

}


/*            Vertikal menu */
.css_side_navigation {
    display: flex;
    flex-direction: column;
}

.css_side_navigation_link,
.css_side_navigation_liste {
    margin: 0;
}

.list__link {
    text-decoration: none;
    display: block;
    padding: 5px;

    font-family: var(--font-family);
    font-size: var(--vertical-menu-font-size);
    color: var(--vertical-menu-font-color-sub);
    font-weight: var(--font-weight-medium);
    line-height: var(--vertical-menu-font-line-height);
}

.list__link.has-submenu {
    font-family: var(--font-family);
    font-size: var(--vertical-menu-font-size);
    color: var(--vertical-menu-font-color-main);
    line-height: var(--vertical-menu-font-line-height);
}

.list,
.list__submenu {
    list-style: none;
    padding: 0;
}

.list__submenu {
    height: 0;
    padding-left: 15px;
    overflow: hidden;
    transition: height .2s ease-in-out;
}

.list__submenu.is-open {
    height: auto;
}
