/*GLOBAL*/
img,
svg,
video {
    width: 100%;
    max-width: 1100px;
}

/*GLOBAL*/

/*HOJSKOLE*/

main {
    max-width: 1120px;
    margin: 0 auto;
    padding: 20px;
    margin-bottom: 20px;
}

/***SPLASHSECTION***/

.css_hojskole_splash_section {
    background-size: cover;
    width: 100%;
    height: 600px;
    z-index: -1;
}

.css_hojskole_splashfilter {
    background: rgba(0, 0, 0, 0.4);
    padding-top: 200px;
    height: 100%;
    width: 100%;
    z-index: 0;
}

/***SPLASHSECTION***/


/**TEXT**/

h1 {
    text-align: center;
    z-index: 1;
}

/**TEXT**/

/***VIDEO***/

.css_hojskole_splashvideo {}

/***VIDEO***/

/**** BUTTON ****/

/*
.css_hojskole_button_link {
    margin-top: 30px;
}
*/

.css_hojskole_button_grouped {
    text-align: center;
    margin-top: 30px;
}

/**** BUTTON ****/

/*HOJSKOLE*/
