/*GLOBAL*/

* {
    margin: 0 auto;
    box-sizing: border-box;
}

img,
svg,
video
    {
    width: 100%;
    max-width: 1100px;
}
/*GLOBAL*/

/*HOJSKOLE*/

main {
    max-width: 1120px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 0 5px rgba(136, 136, 136, 0.45);
}

/***SPLASHSECTION***/

.css_hojskole_splash_section {
    background-size: cover;
    width: 100%;
    height: 600px;
    z-index: -1;
}

.css_hojskole_splashfilter {
    background: rgba(0, 0, 0, 0.4);
    padding-top: 200px;
    height: 100%;
    width: 100%;
    z-index: 0;
}

/***SPLASHSECTION***/


/**TEXT**/

h1 {
    text-align: center;
    max-width: 1100px;
    font-size: 100px;
    font-family: sans-serif;
    color: white;

    z-index: 1;
}

/**TEXT**/

/***VIDEO***/

.css_hojskole_splashvideo {

}

/***VIDEO***/

/**** BUTTON ****/

.css_hojskole_button_link {
    margin-top: 30px;
    padding: 10px 20px;
    border-radius: 2px;
    font-family: sans-serif;
    text-decoration: none;
    color: white;
    background-color: #528b8b;
}

.css_hojskole_button_grouped {
    margin-left: 20vw;
    margin-top: 30px;
}

/**** BUTTON ****/

/*HOJSKOLE*/
