/*GLOBAL*/

* {
    margin: 0;
    box-sizing: border-box;
}

img,
svg,
video {
    width: 100%;
    height: auto;
    max-width: 1100px;
}

.undertitel {
    text-align: center;
    margin-top: 30px;
}

/*GLOBAL*/

/*HOJSKOLE*/

main {
    max-width: 1120px;
    padding: 20px;
    margin-bottom: 20px;
}

/***SPLASHSECTION***/

.css_forside_splash_section {}

.css_forside_splash_section {}

.css_forside_splashfilter {
    position: relative;
}

/***SPLASHSECTION***/


/**TEXT**/

.css_forside_title {
    text-align: center;
    max-width: 1100px;
    margin-bottom: 10px;

    z-index: 1;


    position: absolute;
    top: 0;
    left: 0;

}

@media only screen and (min-width: 600px) {
    .css_forside_title {
        top: 25%;
        left: 10%;
    }
}

/**TEXT**/

/***VIDEO***/

.css_splash_splashvideo {
    padding: 0px 20px;
}

/***VIDEO***/


/*
.css_index_content {
    padding: 20px;
}
*/

/*
.js_forside_content {
    padding: 20px;
}
*/

.css_white_background {
    background-color: white;
    padding: 20px 0px;

}

.css_index_blok_wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}

.css_index_blok {
    flex-basis: 400px;
    margin-top: 20px;
}

.wp-block-video {
    margin-top: 14px;

}


/***INSTA***/

.css_instagram_wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}

.css_insta_billede {
    width: 50%;
    flex-basis: 150px;
}

/**** BUTTON ****/

.css_forside_button_link {
    margin-top: 30px;
}

.css_hojskole_button_grouped {
    text-align: center;
    margin-top: 60px;
}

.wp-block-buttons {
    display: flex;
    justify-content: center;
}

/*
.cta-secondary {
    margin-right: 20px;
}

.cta-primary {
    margin-left: 20px;
}
*/


.wp-block-group__inner-container {
    margin-bottom: 40px;

}

/**** BUTTON ****/

/*HOJSKOLE*/
