* {
    box-sizing: border-box;
    */ margin: 0;
}


main {
    background-color: #F7F7F7;
}


/********************************************/

.css_sectionwrapper_kontakt {
    /*    width: 100%;*/
    justify-content: center;
    /*    padding: 0px 0px 0px 0px;*/
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    height: auto;
    text-align: justify;
    /*scroll*/
    /*    overflow: auto;*/
    padding: 0px;
    max-width: 700px;
    pointer-events: all;
    /*    border: 1px solid red;*/
    background-color: white;
    margin: 10px auto;
}


.css_sectionwrapper_child_kontakt {
    flex-basis: 50%;
}

.css_child_indhold {
    width: 100%;
    height: 100%;
    padding: 10px;
    /*    border: 1px solid red;*/

}

/********************************************/
/*************KONTAKT TLF TIDER**************/

/********************************************/
/*************KONTAKT ADRESSE**************/

.css_child_indhold_googlemaps {
    width: 100%;
    height: 100%;
    padding: 0px;

}

/**MAPS**/

iframe {
    width: 100%;
    height: 200px;
    /*    frameborder="0"*/
}

/*****************************************/
/*************KONTAKT FORM**************/

.css_kontakt {
    height: auto;
    padding: 10px;
}

.css_kontakt_formular {
    border-radius: 5px;
    background-color: white;
    padding: 5px;
}

form {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}


.css_form_box {}


.css_formular_input_box {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.css_input_textbox {
    max-width: 100%;
}


input[type=text],
select,
textarea {
    width: 100%;
    padding: 10px;
    /*    border: 0px solid #C7C7C7;*/
    border-radius: 4px;
    box-sizing: border-box;
    margin: 6px 6px 10px 6px;

    resize: vertical;
}

input[type=submit] {
    background-color: #22adf2;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #22adf2;
}

/*************************************************/
/******************CTA SEKTION*******************/

.css_hojskole_button_link {}

/*KONTAKT MEDIA QUERY**************************/


@media only screen and (min-width:700px) {


    /*FORM INFO LABTOP*******/

    .css_input_textbox {
        flex-basis: 47.96%;
        max-width: 100%;
    }

}
