* {
    box-sizing: border-box;
    margin: 0;
}

.css_tilmelding {
    max-width: 1200px;
    margin: 100px auto;

}

.tilmelding_formular_placering {
    display: block;
    margin: 10px 0;
}


div {}
