* {
    box-sizing: border-box;
    margin: 0;
}

.css_tilmelding {
    max-width: 1200px;
    margin: 100px auto;
    padding-top: 60px;

}

.css_tilmelding_titel {
/*
    color: #101F48;
    font-size: 28.5px;
*/
    margin-bottom: 15px
}


.css_tilmelding_filter {
    color: #3D4A6A;
    border-radius: 4px;
    border-radius: 4px;
    border: 2px var(--primary-color) solid;
    padding: 8px;
    margin-bottom: 20px;
    margin-top: 50px;

}


.tilmelding_formular_placering {
    display: block;
    margin: 10px 0;
}


/*

@media (min-width: 800px) {
    .input_1 {
        display: flex;
        justify-content: space-around;

    }
*/


.input_flex {
    display: flex;
}

.css_tilmelding_flex {
    flex-grow: 1;
    width: 100%;

}

@media (max-width: 550px) {
    .input_flex {
        display: flex;
        flex-flow: column;
    }
}

@media (min-width: 551px) {
    .css_tilmelding_flex:nth-child(1) {
        padding-right: 20px;


    }

    .css_tilmelding_flex:nth-child(2) {
        padding-left: 20px;
    }

}








.info {
    display: flex;
    justify-content: space-between;
    margin-top: 70px;
    margin-bottom: 60px;
    font-size: 14px;
    column-gap: 70px;
}

.tekst-1 h2 {
    font-size: 26px;
    color: #0C1F4B;
    padding-bottom: 8px;
}

.tekst-2 h2 {
    font-size: 26px;
    color: #0C1F4B;
    padding-bottom: 8px;
}

@media (max-width: 550px) {
    .info {
        display: flex;
        flex-flow: column;
        margin-bottom: 40px;
    }
}

/*"husk link på CTA-knap"*/




div {}
