 body {
     font-family: sans-serif;
     color: #3c3c3c;
 }

 .overskrift,
 nav {
     margin: 0 auto;
 }

.css_fag {
}

 .fag {
    width: 90%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 20px;
 }

 .billede {
     width: 100%;
 }
/*text*/

.css_fagkatalog_title {
    margin-top: 20px;
    max-width: 90%;
}

.css_fag_titel {
    color: white;
    background-color: #3a4a6d;
    text-transform: uppercase;

    padding: 10px;
    text-align: center;
    font-size: 2rem;
}

 h2 {
    margin-top: 10px;
    margin-bottom: 20px;
    max-width: 90%;
 }

/*text*/
 .filter_nav {
     display: flex;
 }

 .filter_nav h3 {
     margin-right: 12px;
     cursor: pointer;
 }

 .ret {
     cursor: pointer;

 }

 .valgt {

     color: orangered;
 }
