 body {
     font-family: sans-serif;
     color: #3c3c3c;
 }

 .overskrift,
 nav {
     margin: 0 auto;
     width: 80vw
 }

 .fag {
     width: 80vw;
     display: grid;
     grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
     grid-gap: 20px;
 }

 .billede {
     width: 100%;
 }

 h2 {

     height: 60px;
     margin: 0;
 }

 .filter_nav {
     display: flex;
 }

 .filter_nav h3 {
     margin-right: 12px;
     cursor: pointer;
 }

 .ret {
     cursor: pointer;

 }

 .valgt {

     color: orangered;
 }
